/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Mono', monospace; */

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.header{
    background-color: white;
    width: 100%;
    height: 6em;
    position: relative;

}

.header:hover{
    box-shadow: 0px 1px 30px #464646;
    transition: 0.5s;
}

.header ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    display: flex;
    list-style: none;
    padding:0;
}

.header li{
    padding: 0 50px;
    margin: 0px;
}

.logo{
    width: 4em;
    height: 2.3em;
    position: absolute;
    top:50%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.header li a{
    font-family: 'Noto Sans Mono', monospace; 
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(37, 37, 37);
}

.header li a:hover{
    color: #3AC7A3;
    transition: 0.5s;
}

.botaoVamosJuntos{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    top:50%;
    right: 1%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
}

.vamosJuntos{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.botaoVamosJuntos:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}

.contentHome{
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0px;
    /* background-color: white; */
    color: black;

}

.mainTitle{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: 1em;
    left: 10%;
    letter-spacing: -5px;
}

.subtitle{
    margin: 0px;
    position: absolute;
    top:8.5em;
    left: 10.2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 29px;
}

.imagemTeclado {
    width: 80vh;
    height: 55vh;
    position: absolute;
    left: 50%;
    top: 7%;
}

.botaoVamosJuntosHome{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    top:25.5em;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
    left: 10%;
}

.botaoVamosJuntosHome:hover{
    background-color: #3AC7A3;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}

.home{
    padding: 0;
    margin: 0;
    width: auto;
    height: 80vh;
    background-color: rgb(247, 247, 247);
    position: relative;
}

.cardUs{
    border: 1px solid white;
    margin: 0px;
    width: 55em;
    height: 25em;
    background-color: white;
    border-radius: 20px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.boxCardUs{
    width: 22em;
    height: 22em;
    background-image: linear-gradient(to bottom right, #41c7a8, #8ccbd1);
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 76%;

}

.textCardUsH2{
    width: 50%;
    margin: 50px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2em;
    
}

.botaoEuQuero{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
    bottom:10%;
    left: 4%;
}

.botaoEuQuero:hover{
    background-color: #3AC7A3;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}

/* #000000
#EFAF5D
#A7D0D9
#3AC7A3
#FFFFFF 
#41c7a8
#8ccbd1
*/