html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}


.voltarAoTopo{
    margin: 0px;
    padding: 0px;
    position: fixed;
    height: 60px;
    width: 60px;
    right: 3%;
    bottom: 3%;
    background-color: #41c7a8;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltarAoTopo i{
    margin: 0px;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
}

/* =========HEADER========== */
.header{
    background-color: white;
    width: 100%;
    height: 6em;
    position: relative;
}

.header:hover{
    box-shadow: 0px 1px 30px #464646;
    transition: 0.5s;
}

.header ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    display: flex;
    list-style: none;
    padding:0;
}

.header li{
    padding: 0 30px;
    margin: 0px;
}

.logo{
    width: 5em;
    position: absolute;
    top:50%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.header li a{
    font-family: 'Noto Sans Mono', monospace; 
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(37, 37, 37);
}

.header li a:hover{
    color: #3AC7A3;
    transition: 0.5s;
}

.botaoVamosJuntos{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    top:50%;
    right: 1%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
}

.vamosJuntos{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.botaoVamosJuntos:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}

/* ==========HOME============ */

.contentHome{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0px;
    /* background-color: white; */
    color: black;

}

.mainTitle{
    width: min-content;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 900;
    position: absolute;
    top: 1em;
    left: 10%;
    letter-spacing: -5px;
}

.mainTitle::after{
    content: '|';
    font-weight: 600;
    margin-left: 5px;
    opacity: 0;
    color: #3AC7A3;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.subtitle{
    margin: 0px;
    position: absolute;
    top:8.5em;
    left: 10.2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 29px;
}

.imagemTeclado {
    /* width: 75vh;
    height: 60vh; */
    width: 600px;
    position: absolute;
    left: 50%;
    top: 13%;
    z-index: -1;
}

.botaoVamosJuntosHome{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    top:25.5em;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
    left: 10%;
}

.botaoVamosJuntosHome:hover{
    background-color: #3AC7A3;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}

.home{
    width: auto;
    height: 500px;
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding:0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardUs{
    border: 1px solid white;
    margin: 0px;
    width: 55em;
    height: 25em;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.boxCardUs{
    width: 22em;
    height: 22em;
    background-image: linear-gradient(to bottom right, #41c7a8, #8ccbd1);
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 77%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.redeImg{
    width: 20em;
    height: 20em;
    animation: rodar 60s linear infinite;

    top: 50%;
    left: 50%;
}

@keyframes rodar {
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

.textCardUsH2{
    width: 50%;
    margin: 50px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2em;
    
}

.botaoEuQuero{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
    bottom:10%;
    left: 4%;
}

.botaoEuQuero:hover{
    background-color: #3AC7A3;
    transition: 0.5s;
    box-shadow: 3px 3px 10px #2c2c2c;
}



/* ****************Services****************** */

.services{
}

.titleServices{
    font-family: 'Noto Sans Mono', monospace;
    background-color: rgb(247, 247, 247);
    align-items: center; 
    text-align: center; 
    position: relative;  
}

.titleServices h1{
    margin: 0;
    text-align: center;
}

.titleServices p{
    width: 500px;
    margin: 20px auto 0px auto;
    font-size: 20px;
    line-height: 40px;
}

/* ***************Box services ***************** */

.boxesServices, .boxesServices2{
    padding: 30px 200px;
    width: auto;
    height: auto;
    background-color: rgb(247, 247, 247);
    align-items: center; 
    text-align: center; 
    position: relative; 
    display: flex;
}

.box1{
    margin: 0 auto 0 auto;
    align-items: center;
    width: max-content;

}
.box1 h3{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    width: 120px;
    font-family: 'Noto Sans Mono', monospace;
}

.boxService{
    height: 120px;
    border-radius: 15px;
    background-color: #3AC7A3;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 0px;
}

.boxService img{
    width: 50px;
    margin: 0px;
}

.titleServices2{}
/* ================ Card ================ */

.contactUs{
    background-color: white;
    width: 100%;
    height: 80vh;
    margin: 0;
    padding:0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleTop{
    position: absolute;
    background-image: linear-gradient(to bottom right, #41c7a8, #EFAF5D);
    width: 15em;
    height: 15em;
    border-radius: 100%;
    top: 10%;
    left: 25%;
}

.circleBottom{
    position: absolute;
    /* background-image: linear-gradient(to bottom right, EFAF5D#, #41c7a8); */
    background-color: #EFAF5D;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    top: 60%;
    right: 30%;
}

.cardContactUs{
    position: absolute;
    width: 75vh;
    height: 42vh;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px rgb(139, 139, 139);
}

.cardColor{
    position: absolute;
    width: 75vh;
    height: 42vh;
    border-radius: 20px;
    background-color: rgb(245, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgLogoCard{
    width: 25%;
    height: 25%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.faleConosco{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 20%;
    left: 55%;
    font-weight: 400;
    font-size: 1em;
    color: #2c2c2c;
}

.dadosCartao{
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    color: #2c2c2c;
    top: 70%;
    left: 10%;
}

footer{
    width: auto;
    height: 40vh;
    background-color: rgb(247, 247, 247); 
    position: relative;
}

.logoFooter{
    width: 7em;
    position: absolute;
    left: 10%;
    top: 15%;
}






/* 
#000000
#EFAF5D
#A7D0D9
#3AC7A3 claro
#FFFFFF 
#41c7a8 escuro
#8ccbd1
rgb(247, 247, 247)
#2c2c2c
*/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Mono', monospace; */