/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Mono', monospace; */

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.header{
    background-color: white;
    width: 100%;
    height: 6em;
    position: relative;
}

.header ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    display: flex;
    list-style: none;
    padding:0;
}

.header li{
    padding: 0 50px;
    margin: 0px;
}

.logo{
    width: 4em;
    height: 2.3em;
    position: absolute;
    top:50%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.header li a{
    font-family: 'Noto Sans Mono', monospace; 
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(37, 37, 37);
}

.vamosJuntos{
    color: white;
    font-family: 'Noto Sans Mono', monospace; 
    position: absolute;
    top:50%;
    right: 8%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #3AC7A3;
}

.vamosJuntos:hover{
    background-color: #1b9b7b;
    transition: 0.5s;
    text-shadow: 2px 2px 5px #3b3b3b;
}

.header li a:hover{
    color: #1b9b7b;
    /* text-shadow: 2px 2px 5px #1b9b7b; */
    transition: 0.5s;
}



/* #000000
#EFAF5D
#A7D0D9
#3AC7A3
#FFFFFF */